// Small tablets and large smartphones
$screen-sm: 600px;
// Tablets (landscape) and small desktops
$screen-md: 992px;
// Tablets and Desktops (small, medium)
$screen-lg: 1200px;
// Large Desktops
$screen-xl: 1400px;
