// Primary Text color
$textPrimary: rgba(255, 255, 255, 0.88);
// Secondary text color, used as a lighter color than primary text
$textSecondary: rgba(255, 255, 255, 0.52);
// Primary Main color
$primaryMain: #22eda6;
// Primary Dark Color
$primaryDark: #4ef1b8;
// Primary Contrast Text color
$primaryContrastText: rgba(33, 33, 33, 0.72);
// Background paper color
$backgroundPaper: rgba(255, 255, 255, 0.04);
// Background default color
$backgroundDefault: rgb(29, 35, 67);
