@import "src/assets/scss/media";

.MuiContainer-root {
  &.MuiContainer-maxWidthLg {
    @include xl {
      max-width: 1352px;
    }
    @include md {
      padding: 0px 16px;
    }
    padding: 0px 24px;
    max-width: 1170px;
  }
}

.MuiList-root {
  padding: 0;
}

.MuiTouchRipple-root {
  display: none;
}

// Deactivating input autocomplete ugly fill color.
// https://stackoverflow.com/a/69364368
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}
